#always_remember_me_novel_importer_modal .modal-content {
    background: var(--block-bg);
    color: var(--color-text);
    border-color: var(--border-color);
}

#always_remember_me_novel_importer_modal .modal-header,
#always_remember_me_novel_importer_modal .modal-footer {
    border-color: var(--border-color);
}

#always_remember_me_novel_importer_modal .form-control {
    background: var(--input-bg);
    color: var(--input-text);
    border-color: var(--border-color);
}

#always_remember_me_novel_importer_sidebar_btn .fa-book {
    margin-right: 8px;
    width: 16px;
    text-align: center;
}
